
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #4E47FF;
}
.raleway-first{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 65px;
  
}
.raleway-second {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 16px;
  padding: 36px,12px;
  color: #252432;
  font-style: normal;
}

.raleway-third{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  font-style: normal
}
raleway-fourth{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-size: 24px;
  color:#2E2D3D;
  font-style: normal

}
.bg{
  background-image: url(/image/header-bg.png);
  background-size: cover;
  padding-bottom: 5px;
  border-image-width: 1440px;
  padding: 0px;
}
.bg1{
  background-color:#f5f8ff;
}
.btn-primary{
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  padding: 36px, 12px;
  border-radius: 5px;
  border: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
  font-weight:900px ;
  font-size: 34px;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style:none;
}
.div{
  text-align: center;
}
/* main styles */
main{
  max-width: 1140px;
  margin: 0px auto;
}
.middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-radius{
  border-radius: 48px;
}
  
  